        <div id="header">
            <div id="logo">
                <a href="/">/home/nick</a>
            </div>
            <div id="navigation">
                <a href="/contact/index.html">Contact</a>
                <a href="/blog/index.html">Archive</a>
		<a href="https://misc.nfalcone.net">misc</a>
		<a href="/links/index.html">Links</a>
		<a href="/resume/index.html">Resume</a>
		<a href="https://flickr.com/falcone857">Photos</a>
            </div>
        </div>
